.AuctionGridItem {
    background-color: #fff;
    //width: 186px;
    //height: 267px;
    border: solid 1px #e1e1e1;
    text-align: center;
}

.AuctionGridItem-title {
    overflow: hidden;
    background-color: var(--AuctionGridITem-title-backgroundColor);
    width: 100%;
    height: 38px;
    text-align: center;
    font-weight: bold;
}

.AuctionGridItem-title a {
    display: block;
    padding: 1px 4px;
    line-height: 17px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.AuctionGridItem-image {
    width:100%;
    height:100%;
}

.AuctionGridItem-value {

}
