/**
 * Modifier: default buttons
 */

.Button--default {
    background-color: #eee;
    color: #444;
    border-color: #d9d9d9 #d9d9d9 #ccc;
    border-radius: 2px;
}

.Button--default:hover,
.Button--default:focus,
.Button--default:active,
.Button--default.is-pressed {
    background-color: #f5f5f5;
    color: #222;
    border-color: #c6c6c6 #c6c6c6 #bbb;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.Button--default:focus {
    border-color: #069;
    outline: 0;
}

.Button--default:active,
.Button--default.is-pressed {
    background-color: #ccc;
    box-shadow: inset 0 1px 2px rgba(0,0,0, 0.2);
}

/**
 * Modifier: large buttons
 */

.Button--large {
    font-size: 1.5em;
    padding: 0.75em 1.5em;
}
