.Container {
    width: 95%;
    max-width: 1040px;
    margin: 0 auto
}

.Container--main {
    padding-top: 1.429rem
}

.Container--wide {
    max-width: 1240px
}

@media (min-width: 48em) {
    .Container--main {
        padding-top: 2.143rem
    }
}
