.wrapper {
    max-width: 30em;
    margin: 1em auto;
    background: #546E7A;
    padding: 1em;
    box-shadow: 1px 2px 4px #263238;
}

.Gallery {
}

.ImgRow {
}

.ImgRow-list {

}

.ImgRow-listItem {
    float: left;
    width: 33.33%;
    list-style: none;
    cursor: pointer;
    padding: .3em;
}

.ImgRow-listItem:hover {
    opacity: .5;
}

.ImgRow-listItem img{
    width: 100%;
}

.HeroImg {
    text-align: center;
}

.HeroImg img {
    max-width: 100%;
}

