/** @define Search; use strict */

.Header {
    height: var(--Header-height);
    line-height: 4em;
    background-color: var(--Header-backgroundColor);

}

.Header-inner {
    margin: 0 auto;
}

.Header-logo {

}

