
.Icon {
    background: transparent;
    display: inline-block;
    font-style: normal;
    vertical-align: baseline
}

.Icon:before {
    speak: none;
    display: block;
    font-family: "icomoon";
    font-weight: normal;
    font-variant: normal;
    text-align: center;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.Icon--smallest {
    font-size: 12px;
    line-height: 12px;
}

.Icon--small {
    font-size: 16px;
    line-height: 15px;
}

.Icon--medium {
    font-size: 18px;
    line-height: 18px;
}

.Icon--large {
    font-size: 21px;
    line-height: 1;
}

.Icon--extraLarge {
    font-size: 32px;
    line-height: 1;
}

.Icon--auction:before {
    content: "\e600";
}

.Icon--grid:before {
    content: "\e800";
}

.Icon--list:before {
    content: "\e801";
}

