
.ViewSwitcher {
    text-align: right;
    margin-bottom: 0.4rem;
    background-color: var(--ViewSwitcher-backgroundColor);
}

.ViewSwitcher-inner {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ViewSwitcher-inner:before,
.ViewSwitcher-inner:after {
    content: " ";
    display: table;
}

.ViewSwitcher-inner:after {
    clear: both;
}

.ViewSwitcher a {
    display: inline-block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
    color: #d0d0d0;
    margin: 2px;
}

.ViewSwitcher--gridView .Icon--grid,
.ViewSwitcher--listView .Icon--list{
    color: #47a3da;
}

.ViewSwitcher a:hover {
    color: #47a3da;
}

.Item {
    text-align: center;
    float: left;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1%
}

@media (max-width: 29.99em) {
    .Item--gridView {
        width: 49%;
        margin-right: 1%
    }
    .Item--gridView:nth-of-type(2n) {
        margin-right: 0
    }
}

@media (min-width: 30em) and (max-width: 47.99em) {
    .Item--gridView {
        width: 32.6%;
        margin-right: 1%
    }
    .Item--gridView:nth-of-type(3n) {
        margin-right: 0
    }
}

@media (min-width: 48em) {
    .Item--gridView {
        width: 24.25%;
        margin-right: 1%;
        margin-bottom: 1%;
    }
    .Item--gridView:nth-of-type(4n) {
        margin-right: 0
    }
}

.Item--gridView .Item-image {
    display: block;
    margin: 0 auto;
}

.Item--gridView .Item-title {
    margin: 0;
    padding: 0;
}

.Item--gridView .Item-details {
    max-width: 300px;
    min-height: 70px;
    margin: 0 auto;
}

.Item-price {
    color: #c0c0c0;
}

.Item--gridView .Item-price {
    margin: 10px 0;
    font-size: 1.5em;
}

.Item--listView {
    padding: 20px 0;
    white-space: nowrap;
}

.Item--listView .Item-image,
.Item--listView .Item-title,
.Item--listView .Item-details,
.Item--listView .Item-price {
    display: inline-block;
    vertical-align: middle;
}

.Item--listView .Item-image {
    width: 10%;
}

.Item--listView .Item-image img {
    display: inline-block;
    max-width: 100%;
    border: none;
}

.Item--listView .Item-title {
    font-size: 1.3em;
    padding: 0 10px;
    white-space: normal;
    width: 23%;
}

.Item--listView .Item-price {
    font-size: 1.3em;
    width: 10%;
}

.Item--listView .Item-details {
    width: 40%;
    padding: 0 15px;
    overflow: hidden;
    white-space: normal;
}
