@import "suitcss";
:root {
  --base-link-color: #069;
}

html {
  color: #444;
  font-size: 1rem;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
  color: var(--base-link-color);
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: var(--base-link-color);
  text-decoration: underline;
}

mark {
  background-color: #cee2ff;
  padding: .1875rem;
  border-radius: 3px;
}
