/**
 * base
 */

:root {
    --background-base: var(--color-gray);
    --color-base: var(--color-charcoal);
    --font-base: var(--font-size)/var(--line-height) var(--font-family);
    --link-color-base: var(--color-deep-blue);
    --link-color-hover-base: var(--color-dark-blue);
}

/**
 * components-arrange
 */

:root {
    --gutter-size-Arrange: var(--space-small-px);
}

/**
 * components-grid
 */

:root {
    --gutter-size-Grid: var(--space-large-px);
}

:root {
    --ViewSwitcher-backgroundColor: var(--color-twitter-blue);

}

:root {
    --Page-backgroundColor: var(--color-faint-gray);
    --Page-paddingTop: calc(var(--Header-height) + .77em);
}

:root {
    --Header-backgroundColor: var(--color-dark-blue);
    --Header-height: 4.33em;
}

:root {
    --AuctionDetailsPage-title-backgroundColor: var(--color-gray);
}

:root {
    --AuctionGridITem-title-backgroundColor: var(--color-gray);
}
