.AuctionDetails-title {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    background-color: var(--AuctionDetailsPage-title-backgroundColor);
}
